header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #EDA418 50%, white);
}

nav {
    width: 78%;
    padding-top: 70px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.logo>div {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu {
    width: 54%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu>a {
    position: relative;
    font-size: 25px;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding-bottom: 2px;
}

.header__menu>a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0px;
    height: 4px;
    background: black;
    transition: width 0.4s ease, left 0.4s ease;
}

.header__menu>a:hover::after {
    width: 100%;
    left: 0;
}

.header__menu>.nav_p_active {
    font-weight: 900;
}

.header__menu>button {
    background-color: #312626;
    padding: 15px 14px 8px 11px;
    border-radius: 50px;
}


.header__menu>button:hover {
    cursor: pointer;
    background-color: #EA2626;
}

.header__menu>button:active {
    background-color: red;
}

.header__content {
    width: 85%;
    margin-top: 30px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header__content>div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header__content button {
    width: fit-content;
    background-color: #E52626;
    border: .5px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', serif;
}

.header__content button:hover {
    cursor: pointer;
    background-color: white;
    color: #E52626;
    font-weight: 500;
}

.header__content button:active {
    background-color: #312626;
}

.header__content>img {
    width: 550px;
}

@media (max-width: 1024px) {
    .logo>p {
        display: none
    }

    nav {
        width: 85%;
        padding-top: 40px;
        margin-left: 50px;
    }

    .header__menu {
        width: 70%;
    }

    .header__content {
        width: 90%;
        margin-top: 40px;
        margin-left: 50px;
    }

    .header__content>img {
        width: 400px;
    }
}

@media (max-width: 680px) {
    nav {
        width: 90%;
        flex-direction: column;
        padding-top: 30px;
        margin: 0 auto;
    }

    .logo>p {
        display: block;
    }

    .header__menu {
        width: 100%;
        margin-top: 40px;
    }

    .header__content {
        width: 91%;
        margin: 60px auto;
        flex-direction: column;
        gap: 25px
    }

    .header__content>div {
        align-items: center;
        text-align: center;
        order: 2;
        gap: 15px;
        margin-bottom: 40px;
    }

    .header__content>img {
        order: 1
    }
}

@media (max-width: 460px) {
    nav {
        width: 95%;
        padding-top: 12px;
    }

    .header__menu {
        margin-top: 30px;
    }

    .header__menu>button {
        display: none;
    }

    .header__content {
        width: 98%;
        margin: 40px auto;
        flex-direction: column;
        gap: 20px
    }

    .header__content>img {
        width: 280px;
    }
}